<html>
    <body>
        <h3>Hi ${forGotPasswordBean.userName},</h3>
        <div>
            Your password reset link is <a href="http://localhost:9090/CRUBWebAPP/passwordResetForm?user=${forGotPasswordBean.userName}">Password Reset Link</a>.
        </div>
    </body>
</html>